
.curseclient
.mixin.out/class/net/minecraft/world/inventory/AbstractFurnaceMenu.class
/crash-reports
/debug
ears-debug.log
/essential
/lightspeed-cache
/logs
/modernfix
reauth.toml
/saves
minecraftinstance.json
/screenshots
config/voicechat/username-cache.json
options.justenoughkeys.txt
options.txt
usernamecache.json
usercache.json
