
.curseclient
.mixin.out/class/net/minecraft/world/inventory/AbstractFurnaceMenu.class
/crash-reports
/debug
ears-debug.log
/essential
/lightspeed-cache
/logs
/modernfix
reauth.toml
/saves
minecraftinstance.json
/screenshots
config/voicechat/username-cache.json
options.justenoughkeys.txt
options.txt
usernamecache.json
usercache.json
profileImage/catgirl-hi-cropped.png
/backups
/z_myDocs
WailaErrorOutput.txt
patchouli_data.json
o_prof
knownkeys.txt
enigmatic_persistence.dat
imgui.log
config/cherishedworlds/favorites.dat
/config/jei/world
ops.json
servers.dat
servers.essential.dat
whitelist.json
TrashSlotSaveState.json
servers.dat_old
